* {
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
body {
    width: 100%;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px; 
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .logo {
    width: 100%;
}
header .logo .logo-header {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
header .logo .gif-logo{
    display: none;
}
header .links {
    display: none;
}
.contenido{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 70px;
}
.contenido .artista-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenido .artista-img img{
    width: 60%;
    border-radius: 20px;
    background: #454546;
    box-shadow:  10px 10px 20px #29292a, 
                -10px -10px 20px #616162;
}
.contenido .info{
    width: 100%;
    padding: 0 15px;
}
.contenido .info .list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.contenido .info .list li{
    margin: 5px;
    color: white;
    text-transform: capitalize;
}
.contenido .info .list .title{
    font-weight: 900;
    font-size: 20px;
}
.contenido .info .list .followers{
    font-size: 12px;
}
.contenido .info .list .top{
    font-size: 12px;
}
.contenido .info .list .add{
    display: flex;
    margin-top: 10px;
}
.contenido .info .list .add .heart{
    margin-right: 20px;
}
.contenido .info .list .add .plus{
    margin-right: 20px;
}
.contenido .canciones{
    width: 100%;
    padding: 0 15px;
}
.contenido .canciones .cancion{
    width: 100%;
    border-radius: 10px;
    margin: 8px 0;
    padding: 10px;
    list-style: none;
    background: linear-gradient(145deg, #2d292a, #363132);
    box-shadow:  6px 6px 20px #2b2728, 
             -6px -6px 20px #3a3536;
}
.contenido .canciones .cancion li{
    color: white;
    text-transform: capitalize;
}
.contenido .canciones .cancion .song{
    font-size: 18px;
}
.contenido .canciones .cancion .artist{
    font-size: 10px;
    color: rgb(220, 220, 220);
}
.mobile{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    /* background-color: #2e292bac; */
    backdrop-filter: blur(6px);
}
.iconos{
    margin: 0;
    padding: 20px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.iconos li i{
    font-size: 20px;
    color: white;
}
.desktop{
    display: none;
}
@media only screen and (min-width:321px) {
    body{
        background-image: url(../img/fondo-desk.png);
        background-size: cover;
    }
    header {
        /* position: fixed;
        top: 0; */
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo {
        width: 15%;
        margin: 30px 0;
    }
    header .logo .logo-header {
        width: 25%;
        margin: 0 50px;
    }
    header .links{
        display: unset;
    }
    header .links ul {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;  
        list-style: none;  
    }
    header .links ul li{
        margin: 8px;
        padding: 3px 40px;
        border-right: 2px solid white;
    }
    header .links ul li:last-child{
        border-right: none;
    }
    header .links ul li a {
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenido{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 20% 70%;
    }
    .contenido .artista-img img{
        width: 80%;
        margin-right: 20px;
        border-radius: 40px;
        background: #424143;
        box-shadow:  20px 20px 30px #242324, 
                    -20px -20px 30px #605f62;
    }
    .contenido .info{
        padding: 0 25px;
    }
    .contenido .info .list .title{
        font-size: 30px;
    }
    .contenido .info .list .followers{
        font-size: 20px;
    }
    .contenido .info .list .top{
        font-size: 22px;
    }
    .contenido .info .list .add{
        font-size: 20px;
        margin-top: 5px;
    }
    .contenido .canciones{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .contenido .canciones .cancion{
        background: linear-gradient(145deg, #3b3b3c, #474648);
        box-shadow:  6px 6px 20px #383739, 
             -6px -6px 20px #4c4b4d;
        margin-bottom: 15px;
    }
    .contenido .canciones .cancion .song{
        font-size: 22px;
    }
    .contenido .canciones .cancion .artist{
        font-size: 14px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 15px 0;
    }
    .desktop .nombres li:last-child{
        border-right: none;
    }
    .desktop .logo{
        width: 15%;
    }
    .desktop .logo .logo-footer{
        width: 15%;
    }
    .desktop .nombres {
        display: flex;
        margin: 0;
        padding: 0;
    }   
    .desktop .nombres li  {
        margin: 5px;
        padding: 3px 20px;
        border-right: 2px solid white;
        text-decoration: none;
        list-style: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    } 
    footer .deezer{
        width: 15%;
    }
    footer .deezer .logo-deezer{
        width: 18%;
        float: right;
    }
}