* {
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
body {
    width: 100%;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .logo {
    width: 100%;
}
header .logo .logo-header {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
header .logo .gif-logo{
    display: none;
}
header .links {
    display: none;
}
.buscador {
    /* border: 2px solid white; */
    margin-bottom: 10px;
}
.buscador button{
    color: white;
}
form {
    display: block;
    margin: 20px;
    padding: 0px;
}
input {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 16px;
    border: 2px solid greenyellow;
}
button {
    background-color: rgba(0, 0, 0, 0.459);
    padding: 16px;
    border-radius: 10%;
    border:none;
}
.rankings .tracks {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.rankings .tracks .lista-tracks{
    width: 100%;
    display: flex;
    padding: 0px;
    
    animation:cambio 20s infinite alternate linear;

}
.rankings .tracks .lista-tracks .track{
    width: 100%;
    width: 15%;
    border: white solid 2px;
    list-style: none;
    text-transform: capitalize;
    color: white;
}
.rankings .tracks .lista-tracks .track .track-img{
    width: 100%;
}
.rankings .tracks .lista-tracks .track .title {
    font-size: 10px;
}
.rankings .tracks .lista-tracks .track .artist {
    font-size: 10px;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* .rankings {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.rankings .tracks {
    width: 100%;
    height: 20vh;
    border: 2px solid white;
    margin-bottom: 10px;
}
.rankings .tracks p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}
.rankings .albums {
    width: 100%;
    height: 20vh;
    border: 2px solid white;
    margin-bottom: 10px;
}
.rankings .albums p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}
.rankings .artists {
    width: 100%;
    height: 20vh;
    border: 2px solid white;
    margin-bottom: 10px;
}
.rankings .artists p{
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    color: white;
} */
.mobile{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #383336b1;
    backdrop-filter: blur(5px);
}
.iconos{
    margin: 0;
    padding: 20px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.iconos li i{
    font-size: 20px;
    color: white;
}
.desktop{
    display: none;
}
@media only screen and (min-width:321px) {
    body{
        background-image: url(../img/fondo-desk.png);
        background-size: 2560px;
    }
    header {
        /* position: fixed;
        top: 0; */
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo {
        width: 15%;
        margin: 30px 0;
    }
    header .logo .logo-header {
        width: 25%;
        margin: 0 50px;
    }
    header .links{
        display: unset;
    }
    header .links ul {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    header .links ul li{
        margin: 8px;
        padding: 3px 40px;
        border-right: 2px solid white;
    }
    header .links ul li:last-child{
        border-right: none;
    }
    header .links ul li a {
        width: 100%;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile{
        display: none;
    }
    .desktop{
        width: 100%;
        /* position: absolute;
        bottom: 0;
        left: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 15px 0;
    }
    .desktop .nombres li:last-child{
        border-right: none;
    }
    .desktop .logo{
        width: 15%;
    }
    .desktop .logo .logo-footer{
        width: 15%;
    }
    .desktop .nombres {
        display: flex;
        margin: 0;
        padding: 0;
    }
    .desktop .nombres li  {
        margin: 5px;
        padding: 3px 20px;
        border-right: 2px solid white;
        text-decoration: none;
        list-style: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    footer .deezer{
        width: 15%;
    }
    footer .deezer .logo-deezer{
        width: 18%;
        float: right;
    }
}